# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local

# Python
__pycache__/
.venv/
*.py[cod]
*$py.class

# Supabase
supabase/.temp/
supabase/config.toml

# Redundant / Debug
reproduce_issue.js
bun.lockb


face_server.py
runtime.txt
requirements.txt

.Hugging-Face

.supabase/migrations/FaceAttendERP_complete_database.sql



